.Rproj.user
.Renviron
.Rhistory
.RData
.Ruserdata
.idea
.Rprofile
renv
*.RProj

replication_package*

*.DS_Store

.vscode

studies/*_debug
# remove stata logs, which may expose Stata license
studies/**/*.log

*source.zip
**/source/**/*.dta
**/source/**/*.log
**/source/**/*.7z
**/source/**/*.dat
**/source/**/*.dbf
**/source/**/*.sas7bdat
**/source/**/*.tar
**/source/**/*.tar.gz
**/source/**/*.csv
**/source/**/*.zip
**/source/**/*.shp
**/source/**/*.qpj
**/source/**/*.prj
**/source/**/*.shp*
**/source/**/*.dbf
**/source/**/*.shx
**/source/**/*.cpg
**/source/**/*.cbk
**/source/**/*.xls
**/source/**/*.xlsx
studies/jack-2023/source/Data/Raw
studies/biasi-2023/source/state_formulae
studies/cellini-2020/**/data
studies/dias-2023/**/Data
studies/beaudry-2018/*.dta
studies/slattery-2020/source/data/**/*.txt
studies/perez-2018/source/Do_Files/2_data/**/*.txt
studies/baron-2022/source/Replication/Data/Raw/Expenditures_Revenues_CCD/*.txt

studies/jason-2019/source/dofile/us.1990_2014.singleages.txt
studies/bellego-2024/source/data/intermediary
studies/bellego-2024/source/data/source
studies/moscarini-2012/source/20091077_data_and_code/BDS/BDS_ifsiz_dgrowth_4.log
# unsuitable studies
studies/garrett-2020
studies/snow-2019/source/MS20080918_data_programs/data/district80/03518-0001-Data.txt
studies/baron-2022/source/Replication/Output
logs/
studies/abraham-2020/source/CPS-programs-and-data/Data/Raw-CPS-extract/cps_00036.dat.gz
studies/abraham-2020/source/CPS-programs-and-data/Data/Raw-BLS-extract/ln.data.1.AllData.txt

data/autor-2013
data/imputations
data/studies_all.csv

results/*/
!results/experiments/
# default database file, can ignore
results/experiments/results.db
results/experiments/*.db-shm
results/experiments/*.db-wal

studies/tmp_*

*.nb.html
*__pycache__/

venv
*.egg-info
